.navbar {    
    height: 40px;
}


.main-content {
    height: 200px;
}

.sidebar {
    width: 100px;
}

footer {

    display: flex;

    justify-content: center;
    align-items: center;

    height: 100px;
    color: white;



    background-color: dimgray;
    font-family: Verdana, Geneva, sans-serif;
    
}

.topBar{
    font-family: Verdana, Geneva, sans-serif;

    display: flex;

    justify-content: space-around ;

    background-color: dimgray;
    color:white;
    
    

}

header{

    display:  flex;

    justify-content: center;
    align-items: center;
    background-color:cornflowerblue;
    color: white;
    font-family: Verdana, Geneva, sans-serif; 
}

main{

    display:flex;
    justify-content: left;

}


#sidebar{
  
    display: flex;
    
    justify-content: left;
    align-items:flex-start;

    color: white;
    background-color: dimgray;
    width: 150%;
    height: 500px;

    font-family: Verdana, Geneva, sans-serif;}

#main-content{
    
    display: flex;

    
    height: 500px;
    width: 100%;
    
    justify-content: center;
    align-items: center;
   
    font-family: Verdana, Geneva, sans-serif;

}

